<div class="input-group">
  <input
    [type]="isShowPassword ? 'text' : 'password'"
    class="form-control"
    [formControl]="formControl"
    [placeholder]="placeholder || '' | translate"
    [ngClass]="[isValid ? 'is-valid' : '', isInvalid ? 'is-invalid' : '']"
    (change)="handleOnChange()"
    (blur)="onBlur.emit()"
  />
  <span class="input-group-text cursor-pointer" (click)="handleShowPassword()">
    <em class="fas" [ngClass]="isShowPassword ? 'fa-eye-slash' : 'fa-eye'"></em>
  </span>
</div>

<small class="text-danger" *ngIf="isInvalid">
  {{ formControl.errors?.message | translate }}
</small>
