div.form-control {
  display: flex;
  overflow: hidden;
  span.text {
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

div.auto-complete-dropdown {
  div.drop-down-header {
    padding: 0.5rem;
  }
  div.drop-down-body {
    max-height: 200px;
    overflow: auto;
    ul.list {
      list-style: none;
      padding: 0;
      li.item {
        a.item-link {
          display: block;
          padding: 0.5rem;
          color: var(--bs-body-color);
          text-decoration: none;
          &:hover {
            background-color: var(--bs-gray-100);
          }
        }
      }
    }
  }
}
