<select
  class="form-select"
  [formControl]="formControl"
  (change)="handleChange()"
  [ngClass]="[
    isSkipValidation && isValid ? 'is-valid' : '',
    isInvalid ? 'is-invalid' : ''
  ]"
  [compareWith]="compareFn.bind(this)"
>
  <option [ngValue]="null" *ngIf="placeholder">
    {{ placeholder | translate }}
  </option>
  <option
    [ngValue]="
      optionValueField ? (option | resolveFieldData : optionValueField) : option
    "
    *ngFor="let option of options"
  >
    {{ option | resolveFieldData : optionViewField || "name" | translate }}
  </option>
</select>

<small class="text-danger" *ngIf="isInvalid">
  {{ formControl.errors?.message | translate }}
</small>
