div.drop-down {
  div.drop-down-content {
    display: flex;
    &::after {
      content: "";
      display: none !important;
    }
  }
}

div.dropdown-menu {
  min-width: fit-content;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 0;
}
